<nav class="navbar nav-justified navbar-fixed-top 
            navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/dashboard" class="navbar-brand">
        Home
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="securityObject.canAccessProducts">
        <a routerLink="/products" >Products</a>
      </li>
      <li *ngIf="securityObject.canAccessCategories">
        <a routerLink="/categories">Categories</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
          <a routerLink="login" *ngIf="!securityObject.isAuthenticated">Login</a>
          <a href="#" (onclick)="logout()" *ngIf="securityObject.isAuthenticated">Logout {{securityObject.userName}}</a>
      </li>
    </ul>  
  </div>
</nav>
<div class="container body-content">
  <router-outlet></router-outlet>
</div>