<nav class="navbar nav-justified navbar-fixed-top 
            navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/dashboard" class="navbar-brand">
        Home
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <ng-container
        *ngIf="securityObject.isAuthenticated">
        <a routerLink="/products"
        *hasClaim="'canAccessProducts'">
        Products
        </a>
        </ng-container>
        </li>
        
        <li>
          <ng-container
          *ngIf="securityObject.isAuthenticated">
          <a routerLink="/categories"
          *hasClaim="'canAccessCategories'">
          Categories
          </a>
          </ng-container>
          </li>
          
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
          <a routerLink="login" *ngIf="!securityObject.isAuthenticated">Login</a>
          <a href="#" (onclick)="logout()" *ngIf="securityObject.isAuthenticated">Logout {{securityObject.userName}}</a>
      </li>
    </ul>  
  </div>
</nav>
<div class="container body-content">
  <router-outlet></router-outlet>
</div>