<h1> Card List</h1>
 
<card>
  <header><h1 #header>Angular</h1></header>
  <content>One framework. Mobile & desktop.</content>
  <footer><b>Super-powered by Google </b></footer>
</card>
  
<card>
  <header><h1 #header style="color:red;">React</h1></header>
  <content>A JavaScript library for building user interfaces</content>
  <footer><b>Facebook Open Source </b></footer>
</card>

<card>
  <header> <h1 #header>Typescript</h1> </header>
  <content><a href="https://www.tektutorialshub.com/typescript-tutorial/"> Typescript</a> is a javascript for any scale</content>
  <footer><i>Microsoft </i></footer>
</card>