<div class="row">
  <div class="col-xs-12">
    <h1>Category List</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (onclick)="addCategory()" *hasClaim="'canAddProduct'">Add New Category</button>
  </div>
</div>

<div class="table-responsive" *ngIf="categories && categories.length">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>Category ID</th>
        <th>Category Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">      
        <td>{{category.categoryId}}</td>
        <td>{{category.categoryName}}</td>
      </tr>
    </tbody>
  </table>
</div>
