<ng-container *ngIf="detailForm$ | async as detailForm">
  <mat-card>
    <mat-card-title>
      {{ detailForm.value.title }}
    </mat-card-title>
    <form
      [formGroup]="detailForm"
      (ngSubmit)="onSubmit(detailForm)"
      data-testid="form"
    >
      <input type="hidden" formControlName="id" />
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Assignee</mat-label>
          <mat-select name="AssigneeId" formControlName="assigneeId">
            <mat-option *ngFor="let user of users$ | async" [value]="user.id">{{
              user.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field class="full-width"> -->

        <mat-radio-group
          aria-label="Select an option"
          formControlName="completed"
        >
          <mat-radio-button [value]="false">Not finished</mat-radio-button>
          <mat-radio-button [value]="true">Completed</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            type="text"
            required
          ></textarea>
        </mat-form-field>
      </mat-card-content>
      <div formArrayName="phones">
        <div
          *ngFor="
            let formGroup of detailForm.controls['phones'].controls;
            let index = index
          "
          [formGroupName]="index"
        >
          <vi-phone
            [formGroup]="formGroup"
            [index]="index"
            (deletePhone)="deletePhone($event)"
          ></vi-phone>
        </div>
      </div>
      <button type="button" (click)="addPhone(detailForm)">Add Phone</button>
      <mat-card-actions>
        <button
          id="save"
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!detailForm.valid"
        >
          Save
        </button>
        <button
          id="cancel"
          type="button"
          mat-raised-button
          (click)="cancelled()"
        >
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
  {{ detailForm.status }}
  <vi-tickets-list></vi-tickets-list>
</ng-container>
