<ul *ngFor='let quiz of quizzes; let i = index'  
    [ngClass]="{active: counter === i }" class ="hide">
    <li>
        <div>
            <app-question [sequence]="i+1" [quiz]="quiz" (updateGuess)="updateGuess($event)"></app-question>
            <section>
                <button [ngClass]="{active: counter !== 0 }" class ="hide" id="prev" (click)="counter=i-1" title="Previous" >Prev</button>
                <button [ngClass]="{active: counter !== quizzes.length-1 }" class ="hide" id="next" (click)="counter=i+1;viewedAll=viewedAll || counter===quizzes.length-1" title="Next">Next</button>
            </section>
            <section>
                <button (click)="submit()" id="done" [ngClass]="{active: viewedAll || counter === quizzes.length-1 }" class ="hide" title="Submit">Submit</button>
            </section>
        </div>
    </li>
</ul>
