<mat-card>
  <mat-card-title> </mat-card-title>
  <mat-card-content>
    <mat-list data-cy="widgets-list">
      <mat-list-item
        (click)="selected.emit(ticket)"
        *ngFor="let ticket of tickets"
        attr.data-cy="widget-{{ ticket.id }}-item"
        class="mat-list-option"
      >
        <span matLine attr.data-cy="widget-{{ ticket.id }}-item-title"
          >{{ ticket.id }} {{ ticket.description }}</span
        >
        <a [routerLink]="['/tickets', [ticket.id]]">Edit</a>
        <button
          (click)="deleted.emit(ticket); $event.stopImmediatePropagation()"
          mat-icon-button
          type="button"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
