<mat-card>
  <mat-card-content>
    <mat-list data-cy="widgets-list">
      <mat-list-item
        *ngFor="let ticket of tickets$ | async"
        attr.data-cy="widget-{{ ticket.id }}-item"
        class="mat-list-option"
      >
        <span matLine attr.data-cy="widget-{{ ticket.id }}-item-title">
          {{ ticket.id }}
          <span *ngFor="let user of ticket.assignees">{{ user.name }} </span>
          {{ ticket.completed }}
          {{ ticket.description }}
        </span>
        <a [routerLink]="['/tickets', ticket.id]" queryParamsHandling="merge"
          >Edit</a
        >
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<!-- <table mat-table [dataSource]="tickets$ | async">

</table> -->
