<div class="container">
  <div class="filters">
    <a class="button" routerLink="/catalog" routerLinkActive="active" [queryParams]="{filter: 'Heads'}">Heads</a>
    <a class="button" routerLink="/catalog" routerLinkActive="active" [queryParams]="{filter: 'Arms'}">Arms</a>
    <a class="button" routerLink="/catalog" routerLinkActive="active" [queryParams]="{filter: 'Torsos'}">Torsos</a>
    <a class="button" routerLink="/catalog" routerLinkActive="active" [queryParams]="{filter: 'Bases'}">Bases</a>
    <a class="button" routerLink="/catalog" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <bot-product-details [product]="product" (buy)="addToCart(product)" ></bot-product-details>
    </li>
  </ul>
</div>