<div class="container">
  <div class="filters">
    <a class="button" routerLink="/catalog/Heads">Heads</a>
    <a class="button" routerLink="/catalog/Arms">Arms</a>
    <a class="button" routerLink="/catalog/Torsos">Torsos</a>
    <a class="button" routerLink="/catalog/Bases">Bases</a>
    <a class="button" [routerLink]="['/catalog','']">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <bot-product-details [product]="product" (buy)="addToCart(product)" ></bot-product-details>
    </li>
  </ul>
</div>