<div class="component-container">
  <div *ngIf="(routerRouteParamId$ | async) === undefined" >
    <ng-container *ngIf="listForm$ | async as listForm">
      {{ listForm.value | json}}
    <form [formGroup]="listForm">
      <input
        type="text"
        placeholder="Search"
        formControlName="search"
      />
      (Enter 'error' to trigger an exception)
      <a [routerLink]="['./', 'new']" queryParamsHandling="merge"
        >Add New Ticket</a
      >
    </form>
  </ng-container>
  </div>
  <div style="color: red;" *ngIf="error$ | async">
    error:{{ error$ | async | json }}
  </div>
  <router-outlet></router-outlet>
  <!-- <vi-tickets-list
      *ngIf="!(selectedTicket$ | async)"
      [tickets]="tickets$ | async"
      (selected)="selecteTicket($event)"
      (deleted)="deleteTicket($event)"
    >
    </vi-tickets-list>
    <vi-ticket-details
      *ngIf="selectedTicket$ | async"
      [ticket]="selectedTicket$ | async"
      (saved)="saveTicket($event)"
      (cancelled)="reset()"
    >
    </vi-ticket-details> -->
</div>
