<mat-card>
  <mat-card-header>
    <mat-card-title>{{
      'i18.villains.villain_details' | translate
    }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="saveVillain(form)">
      <div class="editfields">
        <div [hidden]="addMode">
          <mat-form-field>
            <input
              matInput
              formControlName="id"
              placeholder="{{ 'i18.villains.id' | translate }}"
              #id
              readonly
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              formControlName="name"
              placeholder="{{ 'i18.villains.name' | translate }}"
              #name
              (keyup.esc)="close()"
              (keyup.enter)="saveVillain(form)"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <textarea
              matInput
              formControlName="saying"
              placeholder="{{ 'i18.villains.saying' | translate }}"
              #saying
              (keyup.esc)="close()"
              (keyup.enter)="saveVillain(form)"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="close()"
        matTooltip="Cancel all changes"
      >
        {{ 'i18.villains.cancel' | translate }}
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.pristine || form.invalid"
        matTooltip="Save all changes"
      >
        {{ 'i18.villains.save' | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
