@import 'variables';

a {
  text-decoration: none;
  color: #222;
  opacity: 0.8;
  background-color: transparent;
  padding: 5px 10px;
}

a:hover,
a:active {
  text-decoration: underline;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    margin: 15px 0 0 15px;
    font-size: 16px;
    font-weight: 400;

    &.dropdown-notifications {
      margin-top: 10px;
    }

    button {
      .icon {
        font-size: 22px;
        color: #c7c7c7;
        vertical-align: -webkit-baseline-middle;
        padding-right: 5px;
      }
      .language {
        color: #222;
        opacity: 0.7;
      }
      &.mat-stroked-button {
        font-size: 16px;
        min-width: auto;
        border: 1px solid #222;
        border-radius: 5px;
        padding: 3px 15px 0 10px;
        line-height: 28px;
      }
      &.search {
        padding: 0;
        min-width: auto;
      }
    }
  }
}

mat-toolbar {
  height: 60px;
  background-color: #fff;

  div:last-of-type {
    margin-left: auto;
    mat-icon {
      transform: rotate(90deg);
    }
  }
}

.toggle-btn {
  display: inline;
}
.top-nav {
  display: none;
}

@media (min-width: $screen-xs) {
  .toggle-btn {
    display: none;
  }
  .top-nav {
    display: inline;
  }
}

@media (min-width: $screen-sm) {
  mat-toolbar {
    height: 115px;
  }
}
