<wl-slogan></wl-slogan>
<div class="component-container">
  <div class="instruction-container">
    <div class="custom-slogan">
      <div>
        <h3>
          Welcome to our job page. PLease contact Melvin Itman to report issues
          with the apply aite
        </h3>
      </div>
      <div>
        <p>
          Please choose the position you wish to apply for below, complete our
          electronic application and click Apply. A resume is required and a
          cover letter and a law school transcript (or the equivalent) are
          strongly encouraged.
        </p>
      </div>
    </div>
  </div>
  <article class="search-bar">
    <a name="search"></a>
    <div class="search-container with-search-button">
      <div data-icon="7" class="icon"></div>
      <input
        name="textKeyWord"
        type="text"
        id="textKeyWord"
        placeholder="Search all available positions"
      />
      <div class="searchTag  hidden">
        <div class="keyword">
          <span title="Labor &amp; Employee"></span>
          <a
            id="contentPlaceHolder_LinkButtonSearchLocation"
            href="javascript:__doPostBack('ctl00$contentPlaceHolder$LinkButtonSearchLocation','')"
          >
            <div class="icon vi-close"></div>
          </a>
        </div>
      </div>
      <div class="searchTag  hidden">
        <div class="keyword">
          <span title="Boston">_Legal</span>
          <a
            id="contentPlaceHolder_LinkButtonSearchCategory"
            href="javascript:__doPostBack('ctl00$contentPlaceHolder$LinkButtonSearchCategory','')"
          >
            <div class="icon vi-close"></div>
          </a>
        </div>
      </div>
      <a
        id="contentPlaceHolder_linkBtnSearch"
        href="javascript:__doPostBack('ctl00$contentPlaceHolder$linkBtnSearch','')"
        ><div data-icon="U" class="icon"></div
      ></a>
      <div
        class="search-filter-group collapsed"
        data-toggle="collapse"
        data-target="#filterBar"
      >
        <div class="icon vi-refine"></div>
        <div class="search-filter">FILTER</div>
        <div class="icon vi-close"></div>
        <div class="search-filter-close">CLOSE</div>
      </div>
    </div>
  </article>
  <div class="panel">
    <div class="panel-body">
      <div class="panel-options-container">
        <div class="panel-option">
          <span class="search-results-no">Available Positions</span>
          <span class="badge-circle badge-success" id="spanPositionsCounter">{{
            jobs.length
          }}</span>
        </div>
        <div class="panel-option">
          <span class="btn-group btn-group-round" id="rbListEventDetails">
            <span class="btn btn-success"
              ><input
                name="inputEventDetails"
                id="inputEventDetails_1"
                type="radio"
                value="1"
                onclick="setRecruitDetail(false);"/><label
                for="inputEventDetails_1"
                ><div class="icon vi-view-list-simple"></div></label
            ></span>
            <span class="btn btn-success"
              ><input
                name="inputEventDetails"
                id="inputEventDetails_2"
                type="radio"
                value="2"
                onclick="setRecruitDetail(true);"/><label
                for="inputEventDetails_2"
                ><div class="icon vi-view-list-detailed"></div></label
            ></span>
          </span>
        </div>
      </div>
      <table>
        <tr *ngFor="let job of jobs; trackBy: byId">
          <td>
            <h4>{{ job.JobName }}</h4>
            <section class="sub-title">
              <h5>
                {{ 'i18.job.office' | translate }}
                <span>{{ job.OfficeName }}</span>
              </h5>
              <h5>
                {{ 'i18.job.department' | translate }}
                <span>{{ job.DepartmentName }}</span>
              </h5>
              <h5>
                {{ 'i18.job.date_posted' | translate }}
                <span>{{ job.JobName }}</span>
              </h5>
              <h5>
                {{ 'i18.job.application_deadline' | translate }}
                <span>{{ job.ApplicationYear }}</span>
              </h5>
            </section>
            <div class="summary" data-vi-filter="detail">
              {{ true ? job.JobSummarySA : job.JobDescriptionSA }}
            </div>
          </td>
          <td><i class="vi vi-long-arrow-right"></i></td>
        </tr>
      </table>
    </div>
  </div>
</div>
