<wl-slogan></wl-slogan>
<div class="component-container">
  <div class="instruction-container">
    <div class="custom-slogan">
      <div>
        <h3>
          Welcome to our job page. PLease contact Melvin Itman to report issues
          with the apply aite
        </h3>
      </div>
      <div>
        <p>
          Please choose the position you wish to apply for below, complete our
          electronic application and click Apply. A resume is required and a
          cover letter and a law school transcript (or the equivalent) are
          strongly encouraged.
        </p>
      </div>
    </div>
  </div>

  <div class="list-component">
    <p>jobs-list works!</p>
  </div>
</div>
