@import 'variables';

.instruction-container {
  *height: 138px;
  background-color: #f1f1f1;
  padding: 30px 0 10px;

  > .custom-slogan {
    position: relative;
    margin: 0px auto;
    border-left: 0;
    width: $rec-width;
    max-width: $rec-max-width;
    padding-left: 0;
    min-height: 90px;
    height: auto;

    > div > h3 {
      margin: 0 0 10px 0;
      font-family: Roboto;
      font-size: 20px;
      font-weight: bold;
      color: #222;
    }

    > div > p {
      opacity: 0.8;
      font-family: Roboto;
      font-size: 16px;
      width: inherit;
      color: #222;
    }
  }
}
