<div class="content">
  <h1 class="header">
    Edit Contact
  </h1>
  <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
    <section>
      <nav>Name/Info</nav>
      <div>
        <input formControlName="firstName" type="text" placeholder="First Name" />
        {{contactForm.controls.firstName.valid}}
        <input formControlName="lastName"  placeholder="Last Name" />
        <input formControlName="dateOfBirth" type="date" placeholder="Date of Birth" [value]="contactForm.controls.dateOfBirth.value | date:'yyyy-MM-dd'" />
        <div>
          <span>Favorites Ranking</span>
          <input formControlName="favoritesRanking" type="range" min="0" max="5" placeholder="Favorites Ranking" />
          <span>{{contactForm.controls.favoritesRanking.value}}</span>
        </div>
        <div>
          <input type="checkbox" formControlName="personal" /> Personal
        </div>
      </div>
    </section>
    <section>
      <nav>Phone</nav>
      <div formGroupName="phone" class="flex-column">
        <div class="flex-group">
          <input formControlName="phoneNumber" placeholder="Phone" />
          <img src="/assets/plus-grey-blue.png" class="add" />
        </div>
        <div class="radio">
          <span *ngFor="let phoneType of phoneTypes">
            <input type="radio" formControlName="phoneType" [value]="phoneType.value"> {{phoneType.title}}
          </span>
        </div>
      </div>
    </section>
    <section>
      <nav>Address</nav>
      <div>
        <div formGroupName="address" class="address">
          <div class="flex-group">
            <input formControlName="streetAddress" placeholder="Address" />
            <img src="/assets/plus-grey-blue.png" class="add" />
          </div>
          <input formControlName="city" placeholder="City" />
          <input formControlName="state" placeholder="State/Region" />
          <input formControlName="postalCode" placeholder="Zip/Postal Code" />
          <select formControlName="addressType" >
            <option *ngFor="let addressType of addressTypes" [value]="addressType.value">{{addressType.title}}</option>
          </select>
        </div>
      </div>
    </section>
    <section>
      <nav>Notes</nav>
      <div>
        <textarea formControlName="notes" rows="5" placeholder="Notes"></textarea>
      </div>
    </section>
    <div class="buttons">
      <button class="secondary">Cancel</button>
      <button type="submit" class="primary">Save</button>
    </div>
  </form>

</div>