@import 'variables';

a {
  text-decoration: none;
  color: #222;
  opacity: 0.8;
  background-color: transparent;
  padding: 5px 10px;
}

a:hover,
a:active {
  text-decoration: underline;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 400;
  }
}

mat-toolbar {
  height: 60px;
  background-color: #fff;

  div:last-of-type {
    margin-left: auto;
    mat-icon {
      transform: rotate(90deg);
    }
  }
}

.toggle-btn {
  display: inline;
}
.top-nav {
  display: none;
}

@media (min-width: $screen-xs) {
  .toggle-btn {
    display: none;
  }
  .top-nav {
    display: inline;
  }
}

@media (min-width: $screen-sm) {
  mat-toolbar {
    height: 115px;
  }
}
