<mat-toolbar>
    <div class="toggle-btn">
        <button mat-icon-button (click)="toggled.emit()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Owner-Account</a>
    </div>
    <div class="top-nav">
        <ul>
            <li><a routerLink="/home"><span class="nav-cell">Home</span></a></li>
            <li><a routerLink="/home"><span class="nav-cell">Header Link One</span></a></li>
            <li><a routerLink="/students"><span class="nav-cell">Students</span></a></li>
            <li class="dropdown-notifications">
                <button mat-stroked-button>
                    <span class="icon" data-icon="z"></span>
                    <span class="language">English</span>
                </button>
            </li>
            <li>  
                <button class="search" data-cy="login-btn" mat-button (click)="logout.emit()">
                    <mat-icon>search</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</mat-toolbar>