<fieldset class="newsletter" *ngIf="user$ | async as user; else loading">
  <legend>Newsletter</legend>

  <h5>Hello {{ user.firstName }}, enter your email below to subscribe:</h5>
  <form>
    <input #email type="email" name="email" placeholder="Enter your Email" />

    <input
      type="button"
      class="button button-primary"
      value="Subscribe"
      (click)="subscribeToNewsletter(email.value)"
    />
  </form>
</fieldset>

<ng-template #loading>
  <div>Loading ...</div>
</ng-template>
