@import 'variables';

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  color: lightblue;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    margin-left: 15px;
  }
}

mat-toolbar {
  div:last-of-type {
    margin-left: auto;
  }
}

.toggle-btn {
  display: none;
}
.top-nav {
  display: inline;
}

@media (max-width: $screen-xs) {
  .toggle-btn {
    display: inline;
  }
  .top-nav {
    display: none;
  }
}
