@import 'variables';

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  color: lightblue;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
  justify-content: space-between;
}

.toggle-btn {
  display: none;
}
.top-nav {
  display: inline;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
@media (max-width: $screen-xs) {
  .toggle-btn {
    display: inline;
  }
  .top-nav {
    display: none;
  }
}
