<div class="product">
    <div class="product-details">
      <img [src]="getImageUrl(product)" [alt]="product.imageName" />
      <div class="product-info">
        <div class="name">{{ product.name }}</div>
        <div class="description">{{ product.description }}</div>
        <div class="category">Part Type: {{ product.category }}</div>
      </div>
    </div>
    <div class="price">
      <div 
      [ngStyle]="{color: product.discount > 0 ? 'green' : ''}"
      [ngClass]="getDiscountedClasses(product)">{{ product.price | currency:'USD' }}</div>
      <div class="discount" *ngIf="product.discount > 0">{{ (product.price * (1-product.discount)) | currency:'USD' }}</div>
      <button class="cta" (click)="buyButtonClicked(product)">Buy</button>
    </div>
  </div>